<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initail-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<title>ログイン</title>
</head>

<body>
	<header>
		<!-- ナビゲーション --> 
		<div class="navbar navbar-dark bg-dark shadow-sm">
			<a href="/items" class="navbar-brand d-flex align-items-center">
				<strong>商品管理デモ</strong>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<!-- ジャンボトロン -->
		<main role="main">
			<div class="jumbotron text-center">
			 <div class="container mt-4">
			 	<h1 class="jumbotron-heading">ログイン</h1>
			 	<p class="lead text-muted">ユーザーIDとパスワードを入力してください。</p>
			 	
			 	<!-- ログイン画面の入力フォーム -->
			 	<form th:method="get" th:action="@{/items/login/OK}" th:object="${item}">
			 		<div class="mb-3">
			 			<label for="Userid" class="form-label">ユーザーID</label>
			 			<input type="email" class="form-control" id="Userid" th:value="*{userid}">
			 		</div>
			 		<div class="mb-3">
   						<label for="exampleInputPassword1" class="form-label">パスワード</label>
   						<input type="password" class="form-control" id="exampleInputPassword1" th:value="*{passward}">
   					</div>
			 	<p>
        			<!--  <a class="btn btn-primary my-2" th:href="@{/items}">新規登録</a> -->
        			<button class="btn btn-secondary my-2" >ログイン</button>
      			</p>
      			</form>
			 </div>
			</div>
		</main>
		
	</header>


</body>
</html>